* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.notification {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: 4px solid black;
    background-color: rgb(182, 182, 182);
}

.notification.success {
    border-color: green;
    color: green;
}
.notification.error {
    border-color: red;
    color: red;
}